
<h1>会員情報編集</h1>


<%= form_with model:@customer,url:customers_path, method: :patch do |f| %>


<% if @customer.errors.any? %>
  <%= @customer.errors.count %>件のエラーが発生しました
  <ul>
    <% @customer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div>
<label>氏名　　　　　</label>
<%= f.text_field :last_name %><span>&emsp;&emsp;</span><%= f.text_field :first_name %>
</div>

<div>
<label>フリガナ　　　</label>
<%= f.text_field :last_name_kana %><span>&emsp;&emsp;</span><%= f.text_field :first_name_kana %>
</div>

<div>
<label>郵便番号　　　</label>
<%= f.text_field :postal_code %>
</div>

<div>
<label>住所　　　　　</label>
<%= f.text_field :address,cols:200 %>
</div>

<div>
<label>電話番号　　　</label>
<%= f.text_field :telephone_number %>
</div>

<div>
<label>メールアドレス</label>
<%= f.text_field :email %>
</div>

<div>

<%= f.submit "編集内容を保存",class:"btn btn-sm btn-success" %>
<% end %>

<%= link_to "退会する",customers_unsubscribe_path,class:"btn btn-sm btn-success" %>