<h1><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h1>

<p>会員ID 　　　　<%= @customer.id %></p>

<%= form_with model:@customer,url:admin_customer_path(@customer.id) do |f| %>
<div>
<label>氏名　　　　　</label>
<%= f.text_field :last_name %><span>&emsp;&emsp;</span><%= f.text_field :first_name %>
</div>

<div>
<label>フリガナ　　　</label>
<%= f.text_field :last_name_kana %><span>&emsp;&emsp;</span><%= f.text_field :first_name_kana %>
</div>

<div>
<label>郵便番号　　　</label>
<%= f.text_field :postal_code %>
</div>

<div>
<label>住所　　　　　</label>
<%= f.text_field :address,cols:200 %>
</div>

<div>
<label>電話番号　　　</label>
<%= f.text_field :telephone_number %>
</div>

<div>
<label>メールアドレス</label>
<%= f.text_field :email %>
</div>

<div>
<label>会員ステータス</label>
<%= f.radio_button :is_deleted, false, checked: true %>有効<%= f.radio_button :is_deleted, true %>退会
</div>

<%= f.submit "変更を保存",class:"btn btn-sm btn-success" %>
<% end %>