<div class='container'>


  <div class="py-5 body heading">
    <span class="col-md-3 bg-light" style="font-size : 30pt"><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</span>
  </div>


    <% if  @customer.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <div id="error_explanation">
          <ul>
            <% @customer.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>


  <%= form_with model:@customer,url:admin_customer_path(@customer.id) do |f| %>

    <div class="mx-5" >
      
      <div class="row mt-3">
        <div class="col-md-2">
          <span class="font-weight-bold">会員ID</span>
        </div>
        <div class="colo-md-10">
          <%= @customer.id %>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-2">
          <%= f.label :last_name,"氏名",class:"font-weight-bold" %>
        </div>
        <div class="colo-md-10">
          <%= f.text_field :last_name,class:"mb-1" %><span>&emsp;&emsp;</span><%= f.text_field :first_name %>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-2">
          <%= f.label :last_name_kana,"フリガナ",class:"font-weight-bold" %>
        </div>
        <div class="colo-md-10">
          <%= f.text_field :last_name_kana,class:"mb-1" %><span>&emsp;&emsp;</span><%= f.text_field :first_name_kana %>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-2">
          <%= f.label :postal_code,"郵便番号",class:"font-weight-bold"  %>
        </div>
        <div class="colo-md-10">
          <%= f.text_field :postal_code %>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-2">
          <%= f.label :address,"住所",class:"font-weight-bold"  %>
        </div>
        <div class="colo-md-10">
          <%= f.text_field :address,:size => "50*30" %>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-2">
          <%= f.label :name,"電話番号",class:"font-weight-bold"  %>
        </div>
        <div class="colo-md-10">
          <%= f.text_field :telephone_number %>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-2">
          <%= f.label :email,"メールアドレス",class:"font-weight-bold"  %>
        </div>
        <div class="colo-md-10">
          <%= f.text_field :email ,:size => "50*30" %>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-2">
          <%= f.label :is_deleted,"会員ステータス",class:"font-weight-bold"  %>
        </div>
        <div class="colo-md-10">
          <%= f.radio_button :is_deleted, false, checked: true %>&thinsp;有効<span>&emsp;</span><%= f.radio_button :is_deleted, true %>&thinsp;退会
        </div>
      </div>

      <div class="col-md-10 mt-3  text-center">
        <div class="col-md-10">
          <%= f.submit "変更を保存",class:"btn btn-lg btn-success" %>
      </div>
    </div>
    <% end %>
    
    </div>


</div>