<div class='container'>

  <div class="py-5 body heading">
    <span class="col-md-3 bg-light" style="font-size : 30pt"><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</span>
  </div>

  <table style="table-layout:fixed;width:100%;" >
     <tr height="40">
      <th class="col-md-2">会員ID</th>
      <td class="col-md-10"><%= @customer.id %></td>
     </tr>
     <tr height="40">
      <th class="col-md-2">氏名</th>
      <td class="col-md-10" style="word-wrap:break-word;"><%= @customer.last_name %>&emsp;<%= @customer.first_name %></td>
     </tr>
     <tr height="40">
      <th class="col-md-2">フリガナ</th>
      <td class="col-md-10" style="word-wrap:break-word;"><%= @customer.last_name_kana %>&emsp;<%= @customer.first_name_kana %></td>
     </tr>
     <tr height="40">
      <th class="col-md-2">郵便番号</th>
      <td class="col-md-10"><%= @customer.postal_code %></td>
     </tr>
     <tr height="40">
      <th class="col-md-2">住所</th>
      <td class="col-md-10" style="word-wrap:break-word;"><%= @customer.address %></td>
     </tr>
     <tr height="40">
      <th class="col-md-2">電話番号</th>
      <td class="col-md-10"><%= @customer.telephone_number %></td>
     </tr>
     <tr height="40">
      <th class="col-md-2">メールアドレス</th>
      <td class="col-md-10"><%= @customer.email %></td>
     </tr>
     <tr height="40">
      <th class="col-sm-2">会員ステータス</th>
      <% if @customer.is_deleted==false %>
      <td class="col-sm-10 font-weight-bold"><font color="green">有効</td>
      <% else %>
      <td class="col-md-10 font-weight-bold"><font color="gray">退会</td>
      <% end %>
     </tr>
     <tr height="40">
      <th class="col-sm-3"></th>
      <td class="col-sm-9"><%= link_to "編集する",edit_admin_customer_path(@customer.id),class:"btn btn-lg btn-success " %>&emsp;<%= link_to "注文履歴一覧を見る",admin_path,class:"btn btn-lg btn-primary " %></td>
     </tr>
  </table>





</div>