<div class='container'>

  <div class="py-5 body heading ">
    <div class="font-weight-bold">
    <span class="col-md-3 bg-light" style="font-size : 30pt">注文履歴一覧</span>
    </div>
  </div>

<table class="table">
  <thead class="bg-light">
    <th>購入日時</th>
    <th>購入者</th>
    <th>注文個数</th>
    <th>注文ステータス</th>
    <th>製作ステータス</th>
  </thead>
  <tbody style="border-bottom: 1px solid silver;">
    <% @orders.each do |order| %>
    <% amount=order.order_details.sum(:amount)%>
    <tr>
      <td><%= link_to order.created_at.strftime('%Y/%m/%d %X'),admin_order_path(order.id),:style =>"color:black; text-decoration: underline;" %></td>
      <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
      <td><%= amount %></td>
      <td><%= order.order_status_i18n %></td>
      <td>
      <% order.order_details.each do |order_detail| %>
      <%= order_detail.item.name %>
      <%= order_detail.making_status_i18n %></br>
      <% end %>
      </td>
    </tr>
  <% end %>

  </tbody>
</table>

 <%= paginate @orders %>
 
 </div>