<div class='container'>

  <div class="py-5 body heading">
    <span class="col-md-3 bg-light" style="font-size : 30pt">配送先登録/一覧</span>
  </div>


<%= form_with model:@address,url:addresses_path do |f| %>

<% if @address.errors.any? %>
  <%= @address.errors.count %>件のエラーが発生しました
  <ul>
    <% @address.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

  <div class="field">
    <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>&emsp;
    <%= f.text_field :postal_code,placeholder:"0000000"%>
  </div>
  <div class="field">
    <%= f.label :address, "住所" %>&emsp;
    <%= f.text_field :address,placeholder:"東京都"%>
  </div>
  <div class="field">
    <%= f.label :name, "宛名" %>&emsp;
    <%= f.text_field :name,placeholder:"令和"%>
  </div>

<%= f.submit "新規登録" %>
<% end %>

<% unless @current_customer.addresses.present? %>
<h3>配送先が登録されていません。</h3>
<% else %>

<table class="table" cellpadding="10" border="1">
  <thead>
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名 </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @addresses.each do |address| %>
    <tr>
      <td><%= address.postal_code %></td>
      <td><%= address.address %></td>
      <td><%= address.name %></td>
      <td><%= link_to "編集",edit_address_path(address.id),class:"btn btn-sm btn-danger" %><%= link_to "削除",address_path(address.id),method: :delete,"data-confirm"=>"削除しますか？",class:"btn btn-sm btn-danger"  %></td>
    </tr>
    <% end %>
  </tbody>
</table>

  <% end %>
