<h1>ショッピングカート</h1>

<% unless @current_customer.cart_items.present? %>
<h1>カートが空です。</h1>
<% else %>
<%= link_to "カート内全て削除する",cart_items_path,method: :delete,"data-confirm"=>"削除しますか？",class:"btn btn-sm btn-danger"  %>

<table border="1">
  <thead>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
  </thead>
  <tbody>
  <% @cart_items.each do |cart_item| %>
      <tr>
          <td><%= cart_item.item.name %></td>
          <td><%= cart_item.item.with_tax_price.to_s(:delimited) %></td>
          <td>
          <%= form_with model:cart_item, method: :patch do |f| %>
          <%= f.hidden_field :id %>
          <%= f.select :amount, *[1..9],{selected: cart_item.amount} %>
          <%= f.submit "変更" %>
          <% end %>
          </td>
          <td><%= cart_item.subtotal.to_s(:delimited) %></td>
          <% @total +=  cart_item.subtotal %>
          <td><%= link_to "削除",cart_item_path(cart_item.id),method: :delete,"data-confirm"=>"削除しますか？",class:"btn btn-sm btn-danger"  %></td>
      </tr>


  <% end %>
  </tbody>
</table>

<table border="1">
  <thead>
 <th>合計金額</th> <th><%= @total.to_s(:delimited) %></th>
   </thead>
</table>


<% end %>

<%= link_to "お買い物を続ける",root_path,class:"btn btn-sm btn-danger" %>

<% if @current_customer.cart_items.present? %>
<%= link_to "情報入力に進む",new_order_path,class:"btn btn-sm btn-danger" %>
<% end %>