<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
       <div class="container">

          <span>ロゴ</span>

      <div>
       <ul >
        <% if admin_signed_in? %>
         <li>
          <%= link_to admin_items_path do %>
          商品一覧
          <% end %>
         </li>

         <li>
         <%= link_to admin_customers_path do %>
         会員一覧
         <% end %>
         </li>

         <li>
         <%= link_to admin_path do %>
         注文履歴一覧
         <% end %>
         </li>


         <li>
          <%= link_to admin_genres_path do %>
          ジャンル一覧
          <% end %>
          </li>

         <li>
           <%= link_to destroy_admin_session_path,method: :delete do %>
           ログアウト
           <% end %>
         </li>

         <% elsif customer_signed_in? %>
         <li>
          <%= link_to customers_my_page_path do %>
          マイページ
          <% end %>
         </li>

         <li><%= link_to items_path do %>
         商品一覧
         <% end %>
         </li>

         <li><%= link_to cart_items_path do %>
         カート
         <% end %>
         </li>

         <li>
           <%= link_to destroy_customer_session_path,method: :delete do %>
           ログアウト
           <% end %>
         </li>

        <% else %>

         <li>
          <%= link_to about_path do %>
          About
          <% end %>
         </li>

         <li><%= link_to items_path do %>
         商品一覧
         <% end %>

         <li>
           <%= link_to new_customer_registration_path do %>
           新規登録
         <% end %>
         </li>

         <li>
           <%= link_to new_customer_session_path do %>
            ログイン
           <% end %>
         </li>

          <li>
           <%= link_to new_admin_session_path do %>
           管理ログイン用(後で消す！！！)
           <% end %>
         </li>

        <% end %>
       </ul>
       </div>
       </div>

   </header>

 <main>
<div class='container'>
<p class="font-weight-bold"style="font-size : 20pt" id="notice"><%= notice %></p>
</div>
    <%= yield %>
</main>
  </body>
</html>
